<div class="paging">
    <check if="{{ @maxpage > 1 }}">
        <check if="{{ @page === 1 }}">
            <true>&#8592; [1]</true>
            <false>
                <a href="{{ @baseurl }}<check if="{{ @page > 2 }}">{{ @page - 1 }}</check><check if="{{ @query != '' }}">?q={{ @query }}</check>">&#8592;</a>
                <a href="{{ @baseurl }}<check if="{{ @query != '' }}">?q={{ @query }}</check>">[1]</a>
            </false>
        </check>
        <check if="{{ @page > 2 && @page < @maxpage}}">
            <a href="{{ @baseurl }}{{ @page - 1}}<check if="{{ @query != '' }}">?q={{ @query }}</check>">[{{ @page - 1 }}]</a>
        </check>
        <check if="{{ @page > 1 && @page < @maxpage}}">
            [{{ @page }}]
        </check>
        <check if="{{ @page + 1 < @maxpage}}">
            <a href="{{ @baseurl }}{{ @page + 1}}<check if="{{ @query != '' }}">?q={{ @query }}</check>">[{{ @page + 1 }}]</a>
        </check>
        <check if="{{ @page < @maxpage }}">
            <true>
                <a href="{{ @baseurl }}{{ @maxpage }}<check if="{{ @query != '' }}">?q={{ @query }}</check>">[{{ @maxpage }}]</a>
                <a href="{{ @baseurl }}{{ @page+1 }}<check if="{{ @query != '' }}">?q={{ @query }}</check>">&#8594;</a>
            </true>
            <false>
                [{{ @maxpage }}] &#8594;
            </false>
        </check>
    </check>
</div>