<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Joker Url Saver: {{ @title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/icofont.min.css">
        <style>
            .ico-title {
				font-size: 1.6em;
                text-decoration: none !important;
                color: darkslategrey;
			}
            .form {
                margin: 10px 10px 0 10px;
                float: left;
            }
            .clear {
                clear: both;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <include href="{{ @__content }}" />
        </div>
    </body>
</html>
