<h1>List of Entries</h1>

<div class="form">
    <form method="POST" action="{{ 'entry_create' | alias }}">
        <input name="url" type="text" />
        <button type="submit">Fetch URL</button>
    </form>
</div>
<div class="form">
    <form method="GET" action="{{ 'search' | alias }}">
        <input name="q" type="text" value="{{ @query }}" />
        <button type="submit">Search</button>
    </form>
</div>
<div class="clear">
<table>
    <tr>
        <th style="width: 130px;"></th>
        <th>Date</th>
        <th>Title</th>
    </tr>

    <repeat group="{{ @entries }}" key="{{ @ikey }}" value="{{ @entry }}">
    <tr>
        <td>
            <a class="ico-title" href="{{ 'entry', 'action=fetch,id=' . @entry->id | alias }}" title="fetch again"><i class="icofont-duotone icofont-rebuild"></i></a>
            <a class="ico-title" href="{{ 'entry', 'action=html,id=' . @entry->id | alias }}" title="view"><i class=" icofont-duotone icofont-articles"></i></a>
            <a class="ico-title" href="{{ 'entry', 'action=url,id=' . @entry->id | alias }}" title="go to original site"><i class="icofont-duotone icofont-link"></i></a>
            <a class="ico-title" href="{{ 'entry', 'action=delete,id=' . @entry->id | alias }}" title="delete"><i class="icofont-duotone icofont-purge"></i></a>
        </td>
        <td>{{ @entry->getDate('Y-m-d') }}</td>
        <td><a href="{{ 'entry', 'action=html,id=' . @entry->id | alias }}">{{ @entry->getTitle() }}</a></td>
    </tr>
    </repeat>
    <tr><td colspan="3">
        <include href="helper/paging.html" with="page={{ @page }},maxpagw={{ @maxpage }},query={{ @query }}"/>
    </td></tr>
</table>
</div>